@font-face {
	font-family: 'Lato';
	src: url('./lato-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('./flat-ui-icons-regular.woff') format('woff');
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: Lucida Grande, 'Helvetica Neue', arial, sans-serif;
	font-size: 14px;
	color: #000;
	line-height: 1.6;
	background-image: linear-gradient(#ddd 0%, #ffffff 60%);
	display: flex;
	flex-direction: column;
}

h1, h2 {
	font-size: 2em;
	line-height: 1.2;
	margin-top: 0;
	font-weight: normal;
	color: #000;
}

h1 {
	text-align: center;
	font-size: 18px;
	margin: 0;
	height: 40px;
	line-height: 40px;
	background: #F9F9F9;
	border-bottom: 1px solid #bbb;
	box-shadow: 0 1px 2px rgba(0,0,0,0.16);
}

a, .pseudo-href {
	color: #2980B9;
	cursor: pointer;
	transition: color .25s linear;
}

a:hover, .pseudo-href:hover {
	color: #3498DB;
}

p {
	margin-top: 0;
}

i {
	font-family: Flat-UI-Icons;
	font-style: normal;
}

button {
	padding: 4px 10px 5px;
	line-height: 1.4;
	font-family: Lucida Grande, 'Helvetica Neue', arial, sans-serif;
	color: #20B89A;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #20B89A;
	border-radius: 1.5em;
	transition: background-color .25s linear;
	transition-property: background-color, color;
	outline: none;
}

button:hover {
	background-color: #20B89A;
	color: #fff;
}

.pseudo-href {
	border-bottom: 1px dotted currentColor;
}

.main-pane,
.rv-pane {
	box-sizing: border-box;
	position: relative;
	overflow: auto;
}

.main-pane {
	flex-grow: 0;
	flex-shrink: 0;
}

i.help,
i.quit {
	position: absolute;
	font-size: 15px;
	top: 8px;
	right: 10px;
	color: #bbb;
	z-index: 5;
	cursor: pointer;
	transition: color 0.3s;
}

i.quit {
	left: 10px;
	right: auto;
}

i.help:hover,
i.quit:hover {
	color: #888;
}

i.help::before {
	content: '\e611';
}

i.quit::before {
	content: '\e609';
}

.extension {
	display: flex;
	justify-content: space-between;
	padding: 0;
	list-style-type: none;
	margin: 0;
	font-size: 11px;
}

.extension-item {
	display: block;
	width: 50%;
	text-align: center;
	flex-grow: 1;
	padding: 15px 0;
}

.extension-icon {
	display: block;
	width: 64px;
	height: 64px;
	margin: 0 auto 8px;
	position: relative;
	font-style: normal;
}

.extension-icon::before {
	display: inline-block;
	content: '';
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

.extension-icon::after {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	font-family: Flat-UI-Icons;
	font-size: 18px;
}

.extension-message {
	padding: 5px 0;
	line-height: 1.4;
	font-size: 1.1em;
	color: #999;
	display: none;
}

.extension-progress {
	display: none;
	padding-top: 5px;
}

.extension-manual-install {
	font-size: 0.9em;
	margin-top: 0.4em;
	display: none;
}

[data-extension-id=chrome] .extension-icon::before {
	background-image: url(./chrome.png);
}

[data-extension-id=st] .extension-icon::before {
	background-image: url(./sublime-text.png);
}

/* Extension states */
[data-extension-state=installed] .extension-icon::before,
[data-extension-state=error] .extension-icon::before {
	opacity: 0.2;
}

[data-extension-state=installed] .extension-icon::after,
[data-extension-state=partially-installed] .extension-icon::after {
	content: '\e612';
	color: #00b763;
}

[data-extension-state=error] .extension-icon::after {
	content: '\e613';
	color: #e74c3c;
}

[data-extension-state=installed] .extension-install-btn,
[data-extension-state=installing] .extension-install-btn,
[data-extension-state=progress] .extension-install-btn {
	display: none;
}

[data-extension-state=installed] .extension-message,
[data-extension-state=error] .extension-message,
[data-extension-state=error] .extension-manual-install,
[data-extension-state=partially-installed] .extension-manual-install {
	display: block;
}

[data-extension-state=progress] .extension-progress {
	display: block;
}

.action-btn {
	display: inline-block;
	padding: 7px 11px;
	font-size: 13px;
	line-height: 1.4;
	border: none;
	border-radius: 4px;
	background-color: #e74c3c;
	transition: border .25s linear,color .25s linear,background-color .25s linear;
}

.action-btn:hover {
	background-color: #ec7063;
}

/*******************************
 Remote View pane 
 *******************************/

.rv-pane {
	background: #fff;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.18);
	font-size: 12px;
	flex-grow: 1;
}

.rv-pane h2 {
	color: #8C8C8C;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 12px;
	border-bottom: 1px solid #E6E6E6;
	margin: 0;
}

.rv-description {
	display: none;
	text-align: center;
	padding-top: 40px;
	color: #ccc;
}

.rv-description__no-sessions {
	margin-bottom: 5px;
	font-size: 1.2em;
}

.rv-description__help {
	font-size: 0.9em;
}

.rv-pane_disabled .rv-description {
	display: block;
}

.rv-pane_disabled .rv-session {
	display: none;
}

.rv-session {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.rv-session-item {
	padding: 8px 12px;
	border-bottom: 1px solid #E6E6E6;
}

.rv-session-item:first-child {
	border-top: 0;
}

.rv-session-item a {
	text-decoration: none;
	color: inherit;
}

.rv-session-item a:hover {
	text-decoration: underline;
}

.rv-session-local {
	color: #9E9E9E;
	font-size: 0.9em;
}

.rv-session-remove {
	position: absolute;
	right: 20px;
	color: #C0392B;
	font-size: 1.3em;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.25s linear;
	-webkit-font-smoothing: antialiased;
	margin-top: -1.9em;
}

.rv-session-remove::before {
	content: '\e609';
}

.rv-session-item:hover .rv-session-remove {
	opacity: 1;
}

.rv-notice {
	font-size: 1.2em;
	color: #293d51;
}

.update-available {
	position: absolute;
	z-index: 4;
	top: 11px;
	right: 35px;
	padding: 2px 7px 3px;
	font-size: 9px;
	border: none;
	background: #8e44ad;
	color: #fff;
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.update-available:hover {
	background: #9c59b6;
}

.hidden {
	display: none;
}

/* Spinner */
.spinner {
	display: inline-block;
	margin-left: 5px;
}

.spinner__item {
	display: inline-block;
	width: 4px;
	height: 4px;
	background: #7c8d8e;
	border-radius: 2px;
	vertical-align: middle;
	animation: spinner 0.7s infinite;
}

.spinner__item:nth-of-type(2) {
	animation-delay: 0.1s;
}

.spinner__item:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes spinner {
	from {
		transform: scale(0);
		opacity: 1;
	}

	to {
		transform: scale(2);
		opacity: 0;
	}
}